body {
    margin: 0;
    color: #333333;
    font-size: 15px;
    font-family: 'Ovo', serif;
    line-height: 1.6;
    font-style: normal;
    font-weight: normal;

}

hr {
    border: 0;
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;
    background-color: #e5e5e5;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.page {
    overflow: hidden;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .container{
        max-width: 750px;
    }

    content__row1--item{
        width: 50%;
    }
}

@media (max-width: 767px) {
    .container{
        max-width: none;
    }

    .content__row1{
        flex-direction: column;
    }

    .content__row1--item{
        margin: 30px 0px;
    }


}


/*section__first*/

.section__first{
    width: 100%;
    padding-top: 56px;
    height: 100%;

}

.first__welcome{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.first__welcome--title{
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin-top: 32px;
    letter-spacing: 0.04em;
    color: #202020;
    text-align: center;
}

.first__welcome--image{
    position: relative;
}

.first__welcome--image img{
    display: block;
    max-width: 100%;
    height: auto;

}

.first__welcome--image2{
    position: absolute;
    top: 35%;
    left: -48%;
}

.first__welcome--image3{
    position: absolute;
    right: 13%;
    top: 78%;
    z-index: 1;
}

.first__welcome--leftFLower{
    position: absolute;
    left: 0;
    top: 57%;
    z-index: -1;
}


.first__welcome--rightFLower{
    position: absolute;
    right: 0;
    top: 57%;
    z-index: -1;
}

.first__wish{
    font-family: 'Roboto';
    height: 40%;
    padding-top: 128px;
    margin: 124px auto 0px;
    background-color:#FBDDDD;
    padding-left: 58px;
}

.first__wish--title{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #202020;

}

/*section__second*/
.section__second{
    width: 100%;
    height: 700px;
}

.wedding__process{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wedding__process--bg{
    position: relative;
}

.wedding__process--bg-back{
    background: #B3EBBE;
    width: 250px;
    height: 759px;
    position: relative;
}

.wedding__process--bg-front{
    position: absolute;
    right: 25%;
    top: 20%;
}

.wedding__process--wish{
    font-family: 'Roboto';

}

.wedding__process--wish-title{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #202020;

}

.wedding__process--img{
    position: relative;
    margin-top: 24px;
}

.wedding__process--img-back{
    background: #FBDDDD;
    width: 240px;
    height: 240px;
    position: relative;
}

.wedding__process--img-front{
    position: absolute;
    left: 25%;
    top: 25%;
}

/*section__third*/

.section__third{
    position: relative;
    background: #F2EDE9;
    padding: 70px 0px;
}

.content__row1{
    display: flex;
    justify-content: space-between;
}

.content__row1--item-title{
    text-align: center;
    margin: 24px 0px;
    font-size: 18px;
    font-weight: 400;
}

.content__row1--item{
    background-color: #FFFF;
    padding: 15px;
    flex: 0 1 25%;
}

.content__row1--item-img{
    margin-bottom: 10px;
}

.content__row1--item-img img{
    width: 100%;
}

/*section__fourth*/

.footer{
    background: url("../assets/images/footerBg.jpg") center no-repeat;
    background-size: cover;
    padding: 80px 0;

}

.footer__info{
    text-align: center;

}

.footer__couple{
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #202020;
    margin-top: 28px;
}

.footer__location{
    margin-top: 10px;
    font-size: 18px;
    line-height: 20px;
    color: #202020;
}


@media (max-width:1230px) {
    /*section__first*/

    .section__first{
        padding-top: 46px;
    }

    .first__welcome--title{
        font-size: 35px;
        line-height: 40px;
        margin-top: 26px;
    }

    .first__welcome--image img{
        max-width: 90%;
    }

    .first__welcome--image2{
        display: none;
    }

    .first__welcome--image3{
        display: none;
    }

    .first__welcome--leftFLower{
        top: 85%;
    }

    .first__welcome--leftFLower img{
        width: 60%;
        height: 60%;
        display: none;
    }


    .first__welcome--rightFLower{
        top: 85%;
    }

    .first__welcome--rightFLower img{
        width: 60%;
        height: 60%;
        display: none;
    }


    .first__wish{
        padding-top: 110px;
        margin: 100px auto 0px;
        padding-left: 58px;
        padding-bottom: 100px;
    }

    .first__wish--title{
        font-size: 20px;
        line-height: 16px;
    }

    /*section__second*/
    .section__second{
        width: 100%;
        height: 700px;
    }

}

@media (max-width:990px){

    .first__welcome--title{
        font-size: 30px;
        line-height: 35px;
        margin-top: 32px;
    }


    /*section__second*/
    .section__second{
        height: 600px;
    }

    .wedding__process--bg-back{
        background: #B3EBBE;
        width: 250px;
        height: 660px;
        position: relative;
    }

    .wedding__process--bg-front{
        position: absolute;
        right: 20%;
        top: 20%;

    }

    .wedding__process--wish--text{
        font-size: 15px;
    }


    .wedding__process--wish-title{
        font-size: 20px;
        line-height: 20px;
        position: relative;
    }

    .wedding__process--img{
        margin-top: 20px;
    }


    /*section__fourth*/


    .footer__couple{
        font-size: 26px;
        line-height: 24px;
        margin-top: 20px;
    }

    .footer__location{
        margin-top: 7px;
        font-size: 18px;
        line-height: 16px;
    }
}


@media (max-width:770px){


    .first__welcome--image{
        max-width: 70%;
    }

    .first__welcome--title{
        font-size: 30px;
        line-height: 35px;
        margin-top: 32px;
    }


    /*section__second*/
    .section__second{
        height: 600px;
    }

    .wedding__process--bg-back{
        background: #B3EBBE;
        width: 250px;
        height: 660px;
        position: relative;
    }

    .wedding__process--bg-front{
        position: absolute;
        right: 20%;
        top: 20%;
        display: none;

    }
}

@media (max-width:575px){


    .wedding__process--bg-back{
        background: #B3EBBE;
        width: 20px;
        height: 660px;
        position: relative;
    }

    .wedding__process--bg-front{
        position: absolute;
        right: 20%;
        top: 20%;
        display: none;

    }
}
